<table class="table table-bordered">
  <caption>Donations</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Payment Date</th>
      <th>Credit Card (Last 4)</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {{#each donations}}
      <tr>
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{amount}}</td>
        <td>{{creditCard}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
