<div>
  <div>
    <label>Name</label>
    {{name}}
  </div>
  <div>
    <label>Date:</label>
    {{date}}
  </div>
  <div>
    <label>Amount:</label>
    {{amount}}
  </div>
  <div>
    <label>Credit Card:</label>
    {{creditCard}}
  </div>
</div>
