<div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
  <p class="text-center">Our campaigners have done some pretty amazing things to raise money for clean water. And they’re thinking of new things to do every day. What will you do?</p>
</div>
