<div class="form-group">
  <label for="inputUserName">Username</label>
  <input type="text" class="form-control" id="inputUserName" placeholder="Enter your username">
</div>
<div class="form-group">
  <label for="inputPassword">Password</label>
  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
</div>
<button type="button" id="login-submit-button" class="btn btn-default">Submit</button>
