<table class="table table-bordered">
  <caption>Pages</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    {{#each pages}}
      <tr>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{category}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
